# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
.coverage
htmlcov/
*.sqlite
*.sqlite3
.ipynb_checkpoints/

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.README.md
*.db
